useDynLib(GAS)
import(methods)
importFrom(Rcpp,evalCpp)
importFrom(xts,xts)
importFrom(zoo,index)
importFrom(utils,head,tail,menu)
importFrom(graphics,hist,abline,layout,par,grid,lines,axis,legend,axis.Date)
importFrom(stats,qchisq,pchisq,qnorm,median,na.omit,dt,cor,sd,var,lm,pnorm)
importFrom(MASS,ginv)
importFrom(numDeriv,jacobian)
importFrom(Rsolnp,solnp)
importFrom(parallel,clusterEvalQ,parLapply)
importFrom(grDevices,dev.cur,dev.off)
exportClasses("uGASFit", "mGASFit", "uGASSim", "mGASSim", "uGASSpec", "mGASSpec", "uGASFor", "mGASFor", "uGASRoll", "mGASRoll")
exportMethods("show", "plot", "getFilteredParameters", "getObs", "getMoments", "coef", "quantile", "pit", "LogScore", "getForecast")
export("BacktestVaR", "BacktestDensity")
export("ConfidenceBands")
export("DistInfo","DistLabels")
export("UniGASFit", "MultiGASFit")
export("UniGASFor", "MultiGASFor", "UniGASRoll", "MultiGASRoll")
export("UniGASSpec", "MultiGASSpec")
export("MultiMapParameters", "MultiUnmapParameters", "UniMapParameters", "UniUnmapParameters", "UnMapR_C")
export("LowerNu", "UpperNu", "LowerA", "LowerB", "UpperA", "UpperB")
export("UniGASSim", "MultiGASSim")
export("PIT_test")
