# exportPattern("^[[:alpha:]]+") #remove before CRAN
# importFrom(Rcpp, evalCpp)      #remove before CRAN
useDynLib(GAS, .registration = TRUE)
import(methods)
importFrom(Rcpp,evalCpp)
importFrom(xts,xts)
importFrom(zoo,index)
importFrom(utils,head,tail,menu)
importFrom(graphics,hist,abline,layout,par,grid,lines,axis,legend,axis.Date)
importFrom(stats,qchisq,pchisq,qnorm,median,na.omit,dt,cor,sd,var,lm,pnorm,Box.test,optim)
importFrom(MASS,ginv)
importFrom(numDeriv,jacobian)
importFrom(Rsolnp,solnp)
importFrom(nloptr,nloptr)
importFrom(parallel,clusterEvalQ,parLapply)
importFrom(grDevices,dev.cur,dev.off)
exportClasses("uGASFit", "mGASFit", "uGASSim", "mGASSim", "uGASSpec", "mGASSpec", "uGASFor", "mGASFor", "uGASRoll", "mGASRoll")
exportMethods("show", "plot", "getFilteredParameters", "getObs", "getMoments", "coef", "quantile", "pit", "LogScore", "getForecast", "residuals", "convergence")
export("BacktestVaR", "BacktestDensity")
export("ConfidenceBands")
export("DistInfo","DistLabels", "DistName", "DistType", "DistParameters", "DistScalingType", "NumberParameters")
export("UniGASFit", "MultiGASFit")
export("UniGASFor", "MultiGASFor", "UniGASRoll", "MultiGASRoll", "uGASMultiForcast", "mGASMultiForcast")
export("UniGASSpec", "MultiGASSpec")
export("MultiMapParameters", "MultiUnmapParameters", "UniMapParameters", "UniUnmapParameters")
export("LowerNu", "UpperNu", "LowerA", "LowerB", "UpperA", "UpperB")
export("UniGASSim", "MultiGASSim")
export("PIT_test")
export("UnMapR_C", "MapR_C", "build_vR")
export("ddist_Uni", "ddist_Multi", "pdist_Uni", "qdist_Uni", "rdist_Uni", "mdist_Uni", "rdist_Multi", "Score_Uni", "IM_Uni", "Score_Multi", "Quantiles")
